/.env

AK = 'HgiupPVYcjLibbJklIEeISIGV'
AS = 'CBwE70XMuc3BfBs3tFeNOrD6eIcdLRsmK6HR86WhFcF9mP6o0T'
AT = '1506272488615202817-RnhZRjeTY8kFsKF63GO49RfiM113st'
ATS = '69kSChJ8xoEHRqEQQBS8aOMsTWqHTpcW6wIvvCED1sHro'
BT = 'AAAAAAAAAAAAAAAAAAAAAFAMagEAAAAAGTlPf0xO%2Bony0iSJOYVpBwqjA0Y%3DWZnBW7KcdNlf9fvGoR0LZKt4yA4k67dqC0wtk4FnSheFPoFRhM'
